<!DOCTYPE html>
<div mat-dialog-content>
    <h2>Adding a new string!</h2>
    <form (submit)="onSaveString(saveStringForm)"
          #saveStringForm="ngForm">
        <mat-form-field>
            <input matInput name="brand" ngModel placeholder="Brand"
                   #brandInput="ngModel" required>
            <mat-error *ngIf="brandInput.invalid">please enter brand</mat-error>
        </mat-form-field>
        <br/>

        <mat-form-field>
            <input matInput name="model" ngModel placeholder="Model"
                   #modelInput="ngModel" required>
            <mat-error *ngIf="modelInput.invalid">please enter model</mat-error>
        </mat-form-field>
        <br/>

        <mat-form-field>
            <input matInput name="gauge" ngModel placeholder="Gauge"
                   #gaugeInput="ngModel" required>
            <mat-error *ngIf="gaugeInput.invalid">please enter Gauge</mat-error>
        </mat-form-field>
        <br/>

        <mat-form-field>
            <input matInput name="longTension" ngModel
                   placeholder="Long tension"
                   #lTensionInput="ngModel" required>
            <mat-error *ngIf="lTensionInput.invalid">please enter
                tension</mat-error>
        </mat-form-field>
        <br/>

        <mat-form-field>
            <input matInput name="crossTension" ngModel
                   placeholder="cross Tension"
                   #cTensionInput="ngModel">
        </mat-form-field>
        <br/>

    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>
    </form>
</div>
