<div class="select">
    <h4>Select a customer:</h4>
    <mat-form-field>
        <mat-select placeholder="Customers" *ngIf="Customers" [(value)]="selected"
                     #Select>
            <mat-option> None </mat-option>
            <mat-option *ngFor="let cust of Customers"
                        [value]="cust">
                {{cust.id}} {{cust.name}} {{cust.firstname}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="main-div">
<mat-card class="customerCard" *ngIf="hasChange">
    <mat-card-header>
        <div mat-card-avatar class="customerCardImage"></div>
        <mat-card-title>{{customer.name}} {{customer.firstname}}</mat-card-title>
        <mat-card-subtitle class="subtitleWhite">
            Phone: {{customer.phone}} - Mail: {{customer.mail}}
        </mat-card-subtitle>
    </mat-card-header>


    <mat-card-content *ngFor="let racket of customer.idRacket">
        <mat-card class="racketCard">
            <mat-card-header>
                <div mat-card-avatar class="racketCardImage"></div>
                <mat-card-title>
                    {{racket.brand}} {{racket.model}}
                </mat-card-title>
                <mat-card-subtitle>
                    Owner: {{customer.name}} {{customer.firstname}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content *ngFor="let string of racket.idString">
                <mat-card class="stringCard">
                    <mat-card-header>
                        <div mat-card-avatar class="stringCardImage"></div>
                        <mat-card-title>{{string.brand}}
                            {{string.model}}
                        </mat-card-title>
                        <mat-card-subtitle class="subtitleWhite">
                            {{string.gauge}}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        Tension: <b>{{string.longTension}}/
                        {{string.crossTension}}</b><br/><br/>
                        Date: {{string.date["timestamp"]*1000 |
                        date: 'dd MMMM yyyy'}}
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button
                                (click)="DeleteString(string)">Delete String
                        </button>
                    </mat-card-actions>
                </mat-card>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="openDialog(racket.id)">Add
                    String</button>
                <button mat-raised-button (click)="DeleteRacket(racket)">
                    Delete Racket</button>
            </mat-card-actions>
        </mat-card>
    </mat-card-content>


    <mat-card-actions>
        <button mat-raised-button (click)="openDialogRacket(customer.id)">Add
            Racket</button>
        <button mat-raised-button (click)="DeleteCustomer(customer)">
            Delete Customer</button>
    </mat-card-actions>
</mat-card>
</div>

